

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #00ffc3;
    --blue: #1affff;

    --dark-green: hsl(166, 100%, 2%);
    --dark-blue: hsl(180, 100%, 2%);

    --light-green: hsl(166, 100%, 98%);
    --light-blue: hsl(180, 100%, 98%);
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    min-height: 600vh;
}
