.loaderContainer {
    width: 100%;
    height: 100%;

    display: grid;
    place-content: center;
}

.loader {
    position: relative;
    width: 4em;
    height: 4em;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    border: 2em solid transparent;
    border-top-color: var(--mint-green);
    position: absolute;
    left: 0;
    top: 0;
    animation: weld-rotate 2s infinite ease-in;
}

.loader:before {
    border-color: transparent transparent transparent var(--light-blue);
    animation-delay: 0.5s;
}

@keyframes weld-rotate {
    0%,
    25% {
        transform: rotate(0deg);
    }
    50%,
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
