.main {
    height: 100vh;
    min-height: 20em;
    background-color: var(--light-green);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    padding: 2em 0;
}

.title {
    font-family: "blankaregular", "Courier New", Courier, monospace;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 2px;

    text-align: center;
}

.imageContainer {
    width: 100%;
    height: 0;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1em;

    overflow: hidden;
    position: relative;

    user-select: none;
}

.imageContainer::before,
.imageContainer::after {
    width: min(2em, 2vw);
    height: 100%;
    content: "";

    position: absolute;
    top: 0;
    z-index: 1;
}

.imageContainer::before {
    background-image: linear-gradient(
        to right,
        var(--light-green),
        transparent
    );
    left: 0;
}

.imageContainer::after {
    background-image: linear-gradient(to left, var(--light-green), transparent);
    right: 0;
}

.imagesSection1,
.imagesSection2 {
    height: 30%;

    flex: 1;

    display: flex;
    animation-fill-mode: forwards;
}

.imagesSection1 {
    align-items: flex-start;
}

.imagesSection2 {
    align-items: flex-end;
    flex-direction: row-reverse;
}

.imagesSection1 > *,
.imagesSection2 > * {
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em var(--dark-green);

    margin: 0 0.5em;
}

.imagesSection1 > * {
    animation: slideToLeft calc(120s * var(--speed-multiplier)) linear infinite;
}

.imagesSection2 > * {
    animation: slideToRight calc(120s * var(--speed-multiplier)) linear infinite;
}

@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(calc(-100% - 1em) * var(--image-number)));
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(calc(100% + 1em) * (var(--image-number))));
    }
}

.image {
    max-height: 100%;
    display: inline;
}
