.main {
    height: 300vh;
    background-color: var(--light-blue);
}

.section,
.isNotOnScreen {
    background-color: blueviolet;
    height: 100vh;

    position: sticky;
    top: 0;
}

.isOnScreen {
    background-color: red;
}
